.nomargin {
  margin: 15px;
}
#itpanel {
  background-color: #22b24c;
  border-color: #22b24c;
}

.row-fluid .fixed {
  width: 290px;
  position:fixed;
}

a .right {
  float: right;
  line-height: inherit;
}

a .fw {
  width: 1.6em;
}

.list-group .list-group-item .title {
  font-size: 2em;
}

.list-group .list-group-item .date {
  margin-top 0px;
  font-size: 1em;
  color: grey;
}
